.monthClone, .valueClone, .flagClone
{
	display: none;
}

table, h3
{
	text-align: center;
}

table
{
	width: 100%;
}

td, th
{
	width: 7.69%;
}

.red{color: red;}
.green{color: green;}
.orange{color: #FF8C00;}

span#year
{
	margin : 30px;
}

img.flag
{
	margin-left: 11%;
}

p.msg
{
	width: 7.69%;
	margin-left: 7.69%;
	text-align: center;
}