/* La légende */

section#legende
{
	margin-bottom: 30px;
	width: 60%;
	border-left: 3px black double;
	border-radius: 5px;
}

section#legende img
{margin-right: 5px; margin-left: 5px;}

section#legende p
{margin-bottom: 3px; margin-left: 5px;}

section#legende h5
{
	text-decoration: underline;
	margin-left: 5px;
	font-size: 1.3em;
}

section#legende p, section#legende span
{font-size: 1em;}

/* L'en-tête du tableau */

aside#form span.button
{margin-bottom: 20px;}

aside#form div#ajoutflag
{float: right; text-align: right;}

div.clear
{clear: both;}

/* Le tableau de l'historique */

.monthClone, .valueClone, .flagClone, .listClone
{
	display: none;
}

table, h3, table th
{text-align: center;}

table
{width: 100%;}

td, th
{width: 7.69%;}

.red
{color: red;}
.green
{color: green;}
.orange
{color: #FF8C00;}

span#year
{margin : 30px;}

.flag{
	width: 7.69%;
	text-align: center;
}

div#flags
{display: flex;}

aside#form
{float: right; text-align: left; width: 40%;}

/* les marqueurs */

div#flags span
{display: none;}

/* Le formulaire pour selectionner l'interval de temps */

article#interval select
{
	width: 20%;
}

article#interval label
{
	float: left;
}

article#interval div#select_month, article#interval div#select_year, article#interval div#select_energy
{
	margin: 10px;
}