<!DOCTYPE html>
<html>
<body>

<h2>Convert a string into a function.</h2>

<p id="demo"></p>

<script>

var text = ;
var obj = JSON.parse(text);
obj.id = eval("(" + obj.id + ")");

document.getElementById("demo").innerHTML = obj.area + ", " + obj.id(); 
var jsonData = JSON.parse(myMessage);
for (var i = 0; i < jsonData.counters.length; i++) {
    var counter = jsonData.counters[i];
    console.log(counter.counter_name);
}
</script>

</body>
</html>


<!DOCTYPE html>
<html>
<body>

<p id="user"></p>

<script>
var s = 'http://localhost:3000/electricity_consumption?id=19800723488459';

var obj = JSON.parse(s);

document.getElementById("user").innerHTML =
"Name: " + obj.first_name + " " + obj.last_name + "<br>" +
"Location: " + obj.location;
</script>

</body>
</html>